@font-face {
  font-family: 'NimbusSanL';
  src: url('./../assets/fonts/subset-NimbusSanLCY-Regu.woff2') format('woff2'),
    url('./../assets/fonts/subset-NimbusSanLCY-Regu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
