@import url('normalize.css');
@import url('./fonts.css');
@import url('./interface.css');

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  margin: 0;
  position: absolute;
  left: 2.2vw; /* 30px */
  top: 1.1vw; /* 15px */
  font-family: 'NimbusSanL';
  text-transform: uppercase;
  font-weight: normal;
}

.title_absolute {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -52.5px auto 0;
  text-align: center;
}

.title_single_unit {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.title_single_unit.rel {
  position: relative;
}

#multidisciplinary {
  background: linear-gradient( 135deg, rgba(255, 152, 151, .8) 51%, rgba(246, 80, 160, .8) 100%),
              radial-gradient(circle at 0px 0px, rgba(255, 152, 151, 1) 51%, rgba(246, 80, 160, 1) 100%);
  position: relative;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 9.88vw; /* 135px */
    line-height: 1; /* 135px */
  }
}

canvas {
  cursor: default;
}

#graphic {
  transform: translate(0px, 0px) translateZ(0px)
}

canvas.is-blurry {
  filter: blur(30px);
  position: absolute;
  top: -150px;
  left: -150px;
}

#hypercube {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -300px;
}

/** F O O T E R */
footer {
  position: fixed;
  bottom: 2.196193265vw; /* 30px */
  left: 2.196193265vw; /* 30px */
  color: #000;
  font-family: 'NimbusSanL';
  z-index: 2;
}

.footer__row {
  font-size: 0;
}

.footer__share {
  display: inline-block;
  margin-right: 8.78477306vw; /* 120px */
  vertical-align: top;
  font-size: 1.1vw; /* 15px */
  line-height: 1.3333333333;
  letter-spacing: 0.05em;
}

.footer__text {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 1.1vw;
  line-height: 1.3333333333;
  letter-spacing: 0.05em;
}

.wrs {
  height: 1.6105417277vw; /* 22px */
  width: 1.6105417277vw; /* 22px */
  display: inline-block;
  vertical-align: middle;
}

.nose,
.eye {
  animation: eyes-change 2.5s infinite linear;
  transform: translateY(0)
}

.smile {
  fill: none;
  stroke: currentColor;
  stroke-width: 1;
  stroke-dashoffset: -9;
  stroke-dasharray: 13 27;
  animation: smile-change 2.5s infinite linear
}


@keyframes smile-change {
  20% {
      stroke-dashoffset: -9;
      stroke-dasharray: 13 27;
  }
  35% {
      stroke-dashoffset: -9;
      stroke-dasharray: 13 27;
  }
  40% {
      stroke-dashoffset: -1;
      stroke-dasharray: 18 27;
  }
  50.714% {
      transform: translateY(-1px);
      stroke-dashoffset: -1;
      stroke-dasharray: 18 27;
  }
  65% {
      transform: translateY(0)
  }
  70% {
      transform: translateY(0);
      stroke-dashoffset: -7;
      stroke-dasharray: 4 20;
  }
  80% {
      transform: translateY(0);
      stroke-dashoffset: -7;
      stroke-dasharray: 4 20;
  }
  90% {
      transform: translateY(0);
      stroke-dashoffset: -7;
      stroke-dasharray: 4 20;
  }
}


@keyframes eyes-change {
  20% {
    transform: translateY(-1px)
  }
  35% {
    transform: translateY(-1px)
  }
  45.714% {
    transform: translateY(-2px)
  }
  60% {
    transform: translateY(-2px)
  }
  80% {
    transform: translateY(1px)
  }
  90% {
    transform: translateY(0)
  }
}

.skip-button {
  display: block;
  padding: 0;
  margin: 0;
  width: 5.86vw; /* 80px */
  height: 5.86vw; /* 80px */
  line-height: 5.86vw;
  position: fixed;
  bottom: 1.1vw; /* 15px */
  right: 2.2vw; /* 30px */
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  will-change: color;
  font-size: 1.24vw; /* 17px */
  outline: none;
  border-radius: 100%;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transition: transform 300ms cubic-bezier(.175,.8,.35,1.375);
  text-align: center;
}

.skip-button_hidden {
  display: none;
}

.skip-button.is-focus {
  transition: none;
}

.skip-button-inner {
  display: inline-block;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transition: transform 300ms cubic-bezier(.175,.8,.35,1.375);
}
.skip-button.is-focus .skip-button-inner {
  transition: none;
}

@keyframes Wow {
  from {
    transform: scale(1.2);
  }
  15% {
    transform: scale(0.9);
  }
  35% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.0);
  }
}

.art-item {
  position: absolute;
  animation: Wow 400ms forwards;
}

.ux-rectangle,
.ux-traingle,
.ux-oval {
  width: 200px;
  height: 200px;
  position: absolute;
}

.ux-fill.is-drag .ux-inner {
  transform: rotate(0deg);
}

.ux-inner {
  width: 100%;
  height: 100%;
  background-color: #adadad;
  transform: rotate(10deg);
  transition: transform 300ms cubic-bezier(1.0,1.0,.45,1.5);
}

.ux-stroke {
  left: 50%;
  top: 50%;
  margin-top: -100px;
  margin-left: -100px;
  border: 3px solid #adadad;
}

.section {
  display: none;
}

.section_show {
  display: block;
}

@keyframes Wow {
  from {
    transform: scale(1.2);
  }
  15% {
    transform: scale(0.9);
  }
  35% {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.0);
  }
}

.char {
  display: inline-block;
  opacity: 0;
}

.char-show {
  opacity: 1;
  animation: Wow 600ms forwards;
}
